<!DOCTYPE html>
   <head>
<title>"Pastry"</title>
   </head>
   <body>
      <h1>Pastry Detector</h1>
      <img id="video" src="{{ url_for('video_feed') }}">
       <img src="{{ url_for('show_image') }}" >
   </body>
</html>